@charset "utf-8";
@import "module/mixins";
@import "module/variables";
@import "reset";
@import "global";

body{
    background-color:skyblue;
}
#wrapper{
    width:100%; height:100vh; text-align:center; color:green; font-size:2em;
}