@charset "utf-8";
@import "module/mixins";
@import "module/variables";
@import "reset";

body{
    background-color:#fff;
}
#wrapper{
    width:100%; height:100vh; text-align:center; color:red; font-size:2em;
}