///********************///
///*     Colors       *///
///********************///

$black: #000;
$white: #fff;

$color1: #000;
$color2: #fff;
$color3: #0066cc;
$color4: #3366cc;
$color5: #00a3cc;

$color6: #363636;


///********************///
///*    Break Points  *///
///********************///
$screen-xsm: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1440px;


///********************///
///*       Fonts      *///
///********************///

$primary-font: arial, sans-serif;